.card {
  width: 260px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}

.badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ff7a00;
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 12px;
  font-weight: bold;
  z-index: 2;
}

.card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  margin: 0 0 8px;
  font-size: 20px;
}

.link {
  display: inline-block;
  font-size: 14px;
  color: #3498db;
  margin-bottom: 16px;
  text-decoration: none;
}

.link span {
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  background: #f8f9fb;
  padding: 8px 10px;
  border-radius: 8px;
}

.icon {
  margin-right: 8px;
  font-size: 16px;
}

.text {
  font-size: 14px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 1100px;
  
}

h3 {
  font-size: 24px;
  
}



.site-footer {
  background-color: #121e2b;
  color: #ffffff;
  padding: 40px 20px 10px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section .quiz {
  color: #00bfa5;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #2c3e50;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #aaaaaa;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}