.theme-navlink {
  color: #00a63e;
}

.topics-h1 {
  font-style: 24px;
  font-weight: 700;
}

.cards-maindf-wrapper {
  width: 500px;
  display: flex;
  column-gap: 30px;
}

.topics-section {
  padding: 40px 0;
}

.topics-card {
  width: 294px;
  height: 830px;
  background: #fff;
  border-radius: 15px;
  padding: 18px 16px;
  box-shadow: 6px 6px 60px rgba(0, 0, 0, 0.05);
}

.topics-title {
  font-size: 16px;
  font-weight: 600;
  margin-block: 0px 16px;
  color: #6b7280;
}

.topics-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.topic-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border-right: 4px solid transparent;
  transition: background-color 0.1s ease-out, border-right 0.1s ease-out;
}

.topic-item img {
  width: 24px;
  height: 24px;
}

.topic-item span {
  font-size: 14.5px;
  color: #111827;
  font-weight: 500;
}

.topic-item:hover {
  background-color: #f3f4f6;
}

.topic-item.active {
  background-color: #f3e8ff;
  border-right: 3.5px solid #a855f7;
  font-weight: 600;
}

.content-header {
  background-color: #fff;
}

.search-container {
  width: 240px;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #F3F4F6;
  border: none;
  border-radius: 8px;
  padding: 0 12px;
  gap: 8px;
  transition: all 0.25s ease;
}

.search-container:focus-within {
  border-color: #00c853;
  box-shadow: 0 0 0 0.25rem rgba(0, 200, 83, 0.25);
}

.search-icon {
  width: 18px;
  height: 18px;
  user-select: none;
}

.search-input {
  user-select: none;
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

/* card */
.content-wrapper {
  flex: 1;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background-color: #fff;
  padding: 4px 16px;
  border-radius: 15px;
}

.content-title {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}





mark {
  background-color: #fff59d;
  color: #000;
  font-weight: 600;
  border: none;
}
/* test card */


.university-card {
  width: 293px;
  height: 420px;
  background-color: #fff;
  border-radius: 16px;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  transition: 0.3s;
}

.card-header-box {
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-radius: 12px;
}

.univer-box-logo {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

.card-header {
  margin-top: 21px;
}

.babuin-text {
  font-size: 16px;
  color: #155DFC;
}

.directions {
 margin-top: 15px;
  width: 60px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6a0053;
}

.babuin-gg {
   display: flex;
  align-items: center;
  justify-content: center;
  color: #FF6900 ;
  border-radius: 20px;
}

.test-card-wrapper {
  width: 1120px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


.site-footer {
  background-color: #121e2b;
  color: #ffffff;
  padding: 40px 20px 10px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section .quiz {
  color: #00bfa5;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #2c3e50;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #aaaaaa;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}


.card-footer {
  display: flex;
  column-gap: 90px;
}