.profile {
    margin-top: 1px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-wrapper {
    display: flex;
    display: flex;
    width: 100%;
    column-gap: 15px;
    height: 360px;
}

.bck-pointer {
    display: flex;
}

.backto-mainpage {
    margin: 30px 0 15px 0;
}

.profile-st-wrap {
    width: 400px;
    height: 400px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #00c853;
    flex-direction: column;
    justify-content: start;
}

.wrap-profile-phuser {
    display: flex;
    flex-direction: column; /* Profil foto va username'ni ustun qilib joylashtirish */
    align-items: center; /* Ustun bo‘ylab joylashtirish */
}

.wrap-level {
    width: 215px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}

.wrap-level p {
    margin: 0;
    padding: 0;
}

.level-div {
    width: 200px;
    height: 10px;
    background-color: #dfdfdf;
    border-radius: 5px;
    margin-top: 5px;
}

.levelgreenshablon {
    width: 50px;
    height: 10px;
    background-color: #00c853;
    border-radius: 5px;
}

.wrapleveldaraja {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.daraja-xp-wrap {
    display: flex;
    
}


.profile-photo {
    width: 110px;
    height: 110px;
    border: 2px solid #00c853;
    border-radius: 50%;
    margin-top: 10px;
}

.btn-pro {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #00c853;
    margin-top: 20px;
    border-radius: 7px;
    color: #00c853;
    text-decoration-line: none;
}

.username-div {
    margin-top: 10px; /* Profil fotosi va username orasida bo‘shliq */
    font-size: 18px; /* Username o‘lchami */
    font-weight: 600; /* Username qalinligi */
    color: #333; /* Username rangi */
    padding: 5px;
    border: 2px solid #00c853;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    outline: none;
}

.profile-sc-wrap {
    width: 100%;
    margin-right: 1px;
}

.div-text {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #00c853;
}

.div-txt-text {
    margin-left: 16px;
}

.user-activity-ul {
    border: 2px solid #00c853;
    margin-top: 16px;
    background-color: #fff;
    border-radius: 10px;
    height: 324px;
}

.user-activity ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-activity li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
