/* ============================= ST-HERO ============================= */
.index-navlink {
  color: #00a63e;
}

.st-hero {
  margin-top: 92px;
}

.sthero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sthero-start-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-title {
  font-size: 36px;
  font-weight: 800;
  color: #1d1d1f;
  margin: 0 0 18px;
  line-height: 1.2;
}

.start-desc-wrap {
  margin-bottom: 20px;
}

.start-desc {
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
  line-height: 1.5;
}

.start-btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  background-color: #00c950;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #49d782;
}

/* ============================= SOCIAL LINKS ============================= */
.social-links-section {
  margin-top: 40px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.social-card {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 1px 10px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.social-card:hover {
  transform: translateY(-3px);
}

.social-icon {
  width: 42px;
  height: 35px;
}

.instagram {
  color: #e1306c;
}

.telegram {
  color: #0088cc;
}

.youtube {
  color: #ff0000;
}

.youtubeicon {
  width: 50px;
  height: 50px;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .social-card {
    width: 90%;
    justify-content: center;
  }
}

/* 2 - section */
.sc-hero {
  margin-top: 50px;
}

.schero-wrapper {
  display: flex;
  column-gap: 20px;
}

.schero-image {
  width: 260px;
  height: 280px;
}


.site-footer {
  background-color: #121e2b;
  color: #ffffff;
  padding: 40px 20px 10px;
  font-family: sans-serif;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section .quiz {
  color: #00bfa5;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #2c3e50;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #aaaaaa;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}